<div>
  <h2>Dune Resources</h2>

  <h3>Index of Dune Resources</h3>
  <ul>
  </ul>

  <h3>Technical Documentation</h3>
  <ul>
    <li><a href="http://doc.tzalpha.net/">TzAlpha</a>: developer
      Documentation on Tezos.</li>
    <li><a href="http://www.michelson-lang.com/">Michelson</a>:
      A site on the Michelson language.</li>
    <li><a href="http://www.liquidity-lang.org/">Liquidity</a>:
      A higher-level language for Tezos smart contracts.</li>
    <li><a href="http://www.liquidity-lang.org/edit">Liq-Edit</a>:
      Online Editor for Liquidity.</li>
  </ul>

  <h3>Discussions between users</h3>
  <ul>
    <li><a href="https://www.reddit.com/r/tezos/">Reddit /r/Tezos</a>:
    communication on Tezos on Reddit.</li>
  </ul>
</div>
