
/* general */
@font-face {
      font-family: GentiumPlusW;
      src: url(/fonts/GentiumPlus-R.woff);
}
body {
    min-height: 100vh;
    background-color : var(--body-bg-color);
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    max-width:100vw;
}
table {
    background-color: transparent;
}
.dn {
    font-family: GentiumPlusW, sans-serif;
}
#main-container {
    flex-grow: 1;
    max-width: 100%;
}
#content {
}
#logo {
    position: relative;
    height: 80px;
    left: 40px;
}
textarea {
    resize: none;
}
.title{
    font-weight: bold;
    font-size: 18px;
}
.center {
    text-align: center;
}
.right {
    float :right;
}
.no-overflow {
    overflow: hidden ;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.loading-heading {
    text-align: right;
}
.loading-heading img {
    width: 17px;
    height: 17px;
}
a.disabled {
    color: var(--disable-text-color) !important;
}
.disabled {
    pointer-events: none ;
}
a:hover {
    cursor:pointer;
}
.popover {
    max-width: 600px !important;
}
.pp-dun {
    white-space: nowrap;
}
.pp-dun-decimal {
    font-size : 85%;
    color: inherit;
}
.usd-price {
    font-size: 12px;
}
.dropdown-menu {
    min-width: 100%;
}
.force-text-left {
    text-align : left !important ;
}
.btn-network {
    margin-right: 3px;
}
.grecaptcha-badge {
    display: none;
}
.search-container {
    margin: unset;
}

/* color */

.green {
    color: var(--main-green-color) !important;
}
.red {
    color: var(--main-red-color) !important;
}
.blue {
    color: var(--main-lightblue-color) !important;
}
.grey {
    color: var(--main-grey-color) !important;
    font-weight: bold;
}
.yellow {
    color: var(--main-yellow-color) !important;
}
.danger > td, .alert-danger {
    background-color: var(--bts-danger-bg) !important;
}
.warning > td, .alert-warning {
    background-color: var(--bts-warning-bg) !important;
}
.info > td, .alert-info {
    background-color: var(--bts-info-bg) !important;
}
.success > td, .alert-success {
    background-color: var(--bts-success-bg) !important;
}
.alert-danger {
    border-color: var(--bts-danger-border) !important;
}
.alert-warning {
    border-color: var(--bts-warning-border) !important;
}
.alert-info {
    border-color: var(--bts-info-border) !important;
}
.alert-success {
    border-color: var(--bts-success-border) !important;
}
.bg-green {
    background-color: var(--main-green-color); !important;
}
.bg-greener {
    background-color: var(--main-greener-color); !important;
}
.bg-red {
    background-color: var(--main-red-color); !important;
}
.bg-grey {
    background-color: var(--main-lightgrey-color); !important;
}
/* tooltip */

.css-tooltip {
    position: relative;
    display: inline-block;
}
.css-tooltip .css-tooltiptext {
    top: -5px;
    bottom: auto;
    right: 128%;
    visibility: hidden;
    width: 150px;
    margin-left: -60px;
    background-color: var(--tooltip-bg-color);
    border: 2px var(--tooltip-border-color);
    color: var(--tooltip-text-color);
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}
.css-tooltip:hover .css-tooltiptext, .css-tooltip:hover .css-tooltiptext-right {
    visibility: visible;
}
.css-tooltip .css-tooltiptext-right {
    visibility: hidden;
    top: -30px;
    left: 105%;
    background-color: var(--tooltip-bg-color);
    border: 2px black;
    color: var(--tooltip-text-color);
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

/* progress */

.progress {
    width: 100%;
    background-color: var(--progress-bg-color);
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
}
.progress-bar {
    background-color: var(--progressbar-bg-color);
}
.progress span {
    position: absolute;
    display: block;
    width: 100%;
    font-weight: bold;
}

/* nav */

.nav-level {
    text-align : right ;
}
.nav-level a {
    margin: 0px 5px;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    color: var(--nav-text-color) ;
    font-family: var(--main-link-font-family);
}
.nav-level a:hover {
    color: var(--nav-hover-color) ;
}
.nav-level a.disabled {
  pointer-events: none ;
  cursor: default ;
  color : var(--disable-text-color) ;
}

/* panel */

.panel {
    background-color: var(--panel-bg-color);
}
.panel-primary {
    border: unset;
}
.panel-primary .panel-heading {
    border: unset;
}
.panel-primary .panel-title {
    color: var(--main-text-color) ;
}
.panel-primary .panel-footer {
    background-color: var(--body-bg-color) !important;
}
.panel h4 {
    text-align: center;
    font-weight: bold;
}
.panel table {
    margin-bottom: 0px;
}
.panel-heading {
    background-color: var(--body-bg-color) !important;
    font-family: var(--main-panel-title-font-family) !important;
}
.panel .paginate {
    text-align: right;
}
.page-size {
    vertical-align: baseline !important;
    margin-right: 10px;
    color: var(--page-size-text-color);
}
.page-size .btn {
    color: var(--page-size-text-color);
    background-color: transparent;
}
.panel-body {
    padding : 0px;
    text-align: center;
}
.pagination {
    margin: 0;
}
.page-input {
    min-width: 45px;
    max-width: 70px;
}
.tab-content .panel {
    border:unset;
    padding: 0;
}
.tab-content .panel .panel-body {
    border:unset;
    padding: 0;
}

/* table */

.default-table {
    font-size: 13px;
    border-collapse: separate;
}
.defaukt-table th {
    color: var(--main-text-color);
}
.default-table td {
    overflow: hidden ;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--main-text-color);
}
.default-table th.arrow {
    width: 25px;
}

/* footer */

.footer {
    background-color: var(--footer-bg-color);
    clear: both;
    height: 165px;
    font-size: 11px ;
    color: var(--footer-text-color);
    font-family: Lato, sans-serif ;
}
.footer a {
    color: var(--footer-text-color);
}
.footer .footer-main {
    text-align: center ;
    padding: 5px ;
    color: var(--footer-text-color);
}
.footer p {
    margin: 0
}
.footer .footer-others {
    padding-top: 5px ;
    padding-bottom: 5px ;
    border-right: 1px grey solid;
}
.footer .footer-doc {
    padding-top: 5px ;
    padding-bottom: 5px ;
    border-right: 1px grey solid;
}
.footer .footer-legals {
    padding-top: 5px ;
    padding-bottom: 5px ;
    border-right: 1px grey solid
}
.footer .footer-logos {
    padding-top: 5px ;
    padding-bottom: 5px ;
}
.footer .footer-logos a {
    text-decoration : none ;
}
.footer img {
    max-height: 30px ;
    padding: 3px ;
    /* height:30px ; */
}
.footer #donation {
    padding-top : 5px ;
    text-align: center
}
.footer #copyright {
    font-size: 9px ;
}
.footer .inverse {
   -webkit-filter: invert(100%) !important;
}

/* home */
.summary {
    margin-top: 20px;
}
.blocks-div {
    margin-bottom: 20px;
    width: 100% !important;
}
.blocks-div table.table {
    font-size: 15px ;
}
.blocks-div table.table td, .blocks-div table.table th {
    border:unset ;
    padding:20px ;
}
.front-box {
    height: 310px;
    margin-bottom: 20px;
    font-size: 14px;
}
.front-box .title {
    font-size: 15px;
}
.front-box .panel-body {
    padding: 10px;
}
.front-content {
    height: 100%;
    padding: 10px;
    background-color: var(--main-bg-color) ;
    color: var(--main-text-color);
    border-radius: 10px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: transparent;
}
.front-content table {
    font-size: 14px;
}
.front-content div tr th,.front-content div tr td {
    border-top : 1px black solid;
}
.front-content a {
    color: var(--link-text-color);
    text-decoration: underline ;
}
#state-container {
    padding-bottom: 10px;
}
#marketcap-timestamp {
    text-align: right ;
}
#marketcap-container .table, #last-block-container .table {
    font-size: 14px;
    white-space: nowrap;
    color: var(--main-text-color);
}
/* #last-block-container { */
/*     margin-top: 20px; */
/* } */
.section-title {
    font-size: 30px;
    font-family: var(--main-title-font-family);
    line-height: 100%;
    margin-top: 30px;
}
.section-title .paginate {
    float: right;
    font-size: 15px;
    line-height: inherit;
}
#home-blocks-loading {
    text-align: center;
    margin-top : 50px ;
}
#home-blocks-loading img {
    width: 22px;
    height: 22px;
}
#start-block, #cycle-container {
    padding-right: 2px;
    padding-bottom: 10px;
}
#end-block, #cycle-container {
    padding-left: 2px;
    padding-bottom: 10px;
}
#start-block {
    text-align: right;
}
#progress-title {
    padding-bottom: 10px;
}
.stat-item {
    margin : 15px 0 30px;
    text-align: center ;
}
.stat-item a {
    color: inherit ;
    text-decoration : none ;
}
.stat-item .ldBar {
    width: 200px;
    height: 90px;
    margin: auto;
}
.odometer {
  font-size:33px ;
}
.odometer-item {
    padding-right: 5px;
    padding-left: 5px;
}
.last-snapshot {
    margin-top: 50px;
}


/* blocks */

.block-div .panel-body {
    background-color: var(--block-bg-color);
    border: 1px solid var(--main-border-color);
    padding: 10px;
}
.snapshot-block {
    background-color: var(--snapshot-bg-color) !important;
}
.bg-block-main-chain {
    background-color: var(--mainchain-bg-color) !important;
}
.bg-block-alt-chain {
    background-color: var(--altchain-bg-color) !important;
}
.baker {
    text-align: center;
    padding: 10px;
}
.block-operations .panel-primary {
    background-color: var(--block-bg-color);
    border: 1px solid var(--main-border-color);
}
#filter {
    margin-bottom: 4px;
}
#filter-button {
    margin-left: 4px;
    margin-bottom: 3px;
}

/* search */

.search-input {
    min-width: 500px;
}
#search-go {
    max-width: 75px;
    padding-left: 6px;
    padding-right: 6px;
}
.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid var(--main-border-color);
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  margin-right: 15px;
  margin-left: 15px;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--search-bg-color);
  opacity: 0.9;
  border-bottom: 1px solid var(--main-border-color);
}
.autocomplete-items div:hover {
  background-color: var(--search-bg-hover-color);
}
.autocomplete-active {
  background-color: var(--active-bg-color) !important;
  color: var(--search-bg-color);
}

/* operation */

.lbl {
    font-weight: bold;
    font-family: var(--main-title-font-family);
    white-space: nowrap;
    font-size: 17px;
}
.value {
    font-family: var(--main-text-font-family);
    overflow: hidden ;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 15px;
    font-size: 15px;
    border: solid 1px var(--value-border-color);
    padding: 5px;
    background-color: var(--body-bg-color);
    text-align: center;
}
.value.success {
    background-color: var(--bts-success);
}
.value.danger {
    background-color: var(--bts-danger);
}
.value textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100% ;
    text-align : center ;
    background-color: var(--body-bg-color);
    color: var(--main-text-color);
}
.operation-div {
    background-color: var(--panel-bg-color);
}
.operation-div .panel {
    background-color: var(--block-bg-color);
}
.operation-div .panel-body {
    border: 1px solid var(--main-border-color);
    padding-top: 25px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 15px;
}


/* endorsements */

.slot-double {
    background-image: -webkit-linear-gradient(30deg, red 50%, green 50%);
}
.slot {
    border: 1px solid var(--slot-border-color) !important;
    /* border-bottom-color :black !important ; */
    color: var(--slot-text-color);
}
.slot a {
    color: var(--slot-text-color) !important;
    font-family: var(--main-link-font-family);
}
.legend {
    padding-bottom: 5px;
    white-space: normal;
}
.legend div {
    display: inline-block;
    font-size: 10px;
}
.slot-legend {
    height: 10px;
    width: 20px;
    margin-right: 5px;
    margin-left: 15px;
    border: 1px solid var(--slot-border-color);
}
.endorsements-table {
    padding-bottom: 10px;
    padding-top: 10px;
    margin: 15px;
}
.endorsements-table table, .endorse-tbl table {
    table-layout : fixed ;
    text-align : center ;
    border: 1px;
}
.endorsements-table table td, .endorse-tbl table td {
    padding: 0px !important;
}
.endorsements-table table td div, .endorse-tbl table td div {
    height : 100% ;
    width : 100% ;
    padding : 8px ;
}

/* account */

.account-detail {
    border: 1px solid var(--balance-border-color);
    padding: 20px;
}
.operation-pending {
    background-color: var(--pending-bg-color) ;
}
.operation-orphan {
    background-color: var(--altchain-bg-color) ;
}
.delegate-service img {
    width: 50px;
    height: 50px;
}
.delegate-service div {
    margin-top: 10px;
}
.balance-label img {
    margin-left: 5px;
}
.advanced-balance {
    border-bottom: 1px solid var(--balance-border-color) ;
    padding-bottom: 15px ;
    margin-bottom: 15px ;
}
.advanced-baking {
    border-bottom: 1px solid var(--balance-border-color) ;
    padding-bottom: 15px ;
    margin-bottom: 15px ;
}
.advanced-balance .result {
    font-weight: 700 ;
}

.panel-heading .node-icon {
    text-align: right;
    padding-bottom: 0px;
}

#account-panel-body > div {
    text-align: left;
}

.account-avatar {
    margin-top : 15px ;
    margin-bottom : 15px ;
}
.account-avatar img {
    max-width: 128px;
    max-height: 128px;
}

.code-panel {
    margin-bottom: 0px !important;
}
.code-main-panel {
    padding: 0px 15px;
}
.account-code {
    width: 100%;
    height: 600px;
    border: none;
    background-color: var(--code-bg-color);
    padding: 0;
}
.account-code textarea {
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--code-bg-color);
    color: var(--main-text-color);
    overflow: auto;
    border: 1px var(--main-border-color) solid;
    border-radius: 3px;
}
.storage {
    height: 500px;
    border: none;
    background-color: white;
    padding: 0px;
    border: 1px var(--main-border-color) solid;
    border-radius: 3px;
}
.storage textarea {
    height: 100%;
    width: 100%;
    border: none;
    background-color: var(--code-bg-color);
    color: var(--main-text-color);
}
.storage-title {
    padding: 15 20 15 20;
    font-size: large;
    margin-bottom: 5;
    display: block;
    background-color: var(--code-bg-color);
    color: (--main-text-color);
    border: 1px var(--main-border-color) solid;
    border-radius: 3px;
}
.storage-title a {
    color: var(--main-text-color);
}
.code-tabs {
    padding-left: 15px ;
}
.code-tab {
    padding: 7px 15px !important;
}
.nav > li > .account-tab {
    padding: 8px 8px; !important;
}

.nav-tabs > li > a {
    border-color: transparent ;
}

.account-w-blockies canvas {
    margin-right: 10px;
    vertical-align: middle;
}

.badge-reveal-activate {
    margin-top: 10px;
}

div.badge-reveal-activate a {
    color: white;
}
.extra-infos {
    text-decoration : underline dotted ;
}
.bal-snapshot-main-diff {
    margin-top: 10px;
    margin-bottom: 10px;
}
.bal-currency-merge-button-div {
    margin-bottom: 10px;
}
div > .download-button-csv {
    margin-bottom: 10px ;
}

/* baking */

.bakings-div .panel {
    padding: 0px;
}

.bakings-table {
    width: 100%;
    font-size: 13px;
    table-layout: fixed;
    min-width: 500px ;
}
.bakings-table th {
    color: var(--main-text-color);
}
.bakings-table td {
    overflow: hidden ;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--main-text-color);
    background-color: var(--body-bg-color);
}
#last-baking-div {
    margin-top: 15px;
}
#last-baking-div .panel-heading {
    background-color: inherit;
}

.last-baking-panel {
    border-radius: 50%;
}
.last-baking-green {
    background-color: var(--bts-success-bg) !important;
}
.last-baking-red {
    background-color: var(--bts-danger-bg) !important;
}
.next-baking-blue {
    background-color: var(--bts-info-bg) !important;
}
.legend-box {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    white-space: nowrap;
}

/* reward */

.reward-form {
    line-height: 34px;
    padding-top: 5px;
    min-width: 320px;
}
.reward-form .span-inline {
    display: inline;
}
#reward-percentage-input {
    max-width: 50px;
}
.reward-choices {
    width: 180px;
    display: inline;
    float: right;
    margin-right: 10px;
}
.reward-choices .btn {
    width: 180px;
}
.reward-choices .dropdown-menu {
    padding-left: 10px;
}
.reward-input {
    display: inline-block;
    margin-right: 10px;
    float: right;
}
.reward-update-button {
    width: 120px;
    display: inline;
    float: right;
}

/* nonces */

.nonces {
    margin: 0;
    padding: 0;
}
.nonces .table {
    table-layout: fixed;
}
.nonces table td {
    padding: 0 !important;
}
.nonces a div {
    width: 100%;
    height: 100%;
}
.nonces a:hover, .nonces a:link, .nonces a:active, .nonces a:visited {
    text-decoration: none;
}
#nonces-div .panel-body {
    background-color: var(--body-bg-color);
}

/* node state */
.node-state-icon img {
    margin-right: 5px;
}

/* health */
.health-content {
    border-radius: 10px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom : 20px ;
    background-color : var(--health-bg-color);
}
.health-content .panel-body {
    background-color: var(--panel-body-bg-color);
}
.health-summary h1 {
    text-align: center ;
    margin-top : 25px ;
    margin-bottom : 25px;
}
#health-progress {
    height: 30px;
    margin-bottom: 10px;
}
#health-progress span {
    font-size: 25px;
    line-height: 30px;
}
.health-content .details .panel h2 {
    margin: 0 ;
    padding: 49px ;
    height: 130px ;
}
.health-content .panel .ldBar {
    width: 240px !important ;
    height: 130px !important ;
    margin: auto;
}
.health-content .good-value {
    color : var(--main-green-color) ;
}
.health-content .bad-value {
    color : var(--main-red-color);
}

/* help */

.glossary-help-icon {
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.help-no-title {
    float: right;
}
.section-title .glossary-help-icon {
    color: var(--disable-text-color);
    font-size: 12px;
    position: relative;
    bottom: 15px;
}
.panel .glossary-help-icon {
    color: var(--disable-text-color);
    font-size: 10px;
    position: relative;
    bottom: 5px;
}

/* network stat */

#map-id {
    height: 350px;
}
.network-cmd {
    text-align: center;
}
.network-cmd a {
    margin: 7px;
}
.network-cmd a.disabled {
    pointer-events: none ;
    cursor: default ;
}

/* injection */

.injection-textarea{
    width:100%;
    min-height:150px;
    background-color: var(--main-bg-color);
    margin-top : 20px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding:15px;
    border: solid 1px #ccc;
}
#inject-op-button{
    display:block;
    float:right;
    margin : 20px 0 ;
}
#injection-answer-area{
    clear : both;
    min-height: 150px;
}
#injection-sending{
    margin : auto;
    display: none;
    clear : both;
    text-align : center;
}
#injection-answer-ok{
    margin : 20px 0 ;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: var(--bts-success);
    padding:15px;
    text-align : center;
    display: none;
    clear : both;
}
#injection-answer-ko{
    margin : 20px 0 ;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: var(--bts--danger);
    padding:15px;
    text-align : center;
    display: none;
    clear : both;
}
#injection-request-ko{
    margin : 20px 0 ;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: var(--main-bg-color);
    padding:15px;
    text-align : center;
    display: none;
    clear : both;
}

/* charts */

.baking-charts {
    height: 300px ;
}
#rolls-distrib-pie-id .amcharts-legend-div {
    margin-left : 25px;
}
#export-div {
    height : 36px;
}
.charts-block {
    background-color: var(--panel-body-bg-color);
    padding: 15 20 15 20;
    font-size: large;
    margin-bottom: 5;
    display: block;
    color: (--main-text-color);
    border: 1px var(--main-border-color) solid;
    border-radius: 3px;
}
.amcharts-axis-label, .amcharts-axis-title, .amcharts-pie-label, .amcharts-title, .amcharts-legend-label, .amcharts-legend-value {
    fill: var(--main-text-color);
}
.amcharts-axis-grid, .amcharts-axis-line {
    stroke: var(--main-text-color);
}
.amcharts-scrollbar-bg-selected, .amcharts-scrollbar-bg {
    fill: var(--main-bg-color);
}
.amcharts-scrollbar-grip-right, .amcharts-scrollbar-grip-left {
    fill: var(--panel-header-bg-color);
}

/* services */

.delegates-descr {
    padding-top: 15px;
    padding-bottom: 15px;
}
.delegation-service-box {
    border: 1px solid gray;
}
.delegation-service-box .panel-body {
    background-color: var(--panel-body-bg-color);
}
.delegation-service-box .panel-heading {
    background-color: var(--panel-header-bg-color) !important;
}
.delegation-services-box-link-view-all {
    color: var(--link-blue-color) !important;
    font-size: 13px;
}
.sponsor-baker {
    width: 100px;
    height: 100px;
}

/* bookmark */
.bookmark-aliases {
    font-size : 14px;
}

/* exchanges */

.exchanges-logos {
    padding: 20px ;
}
.exchange-logo {
    margin: 10px ;
}


/* ads */

#ads-ban {
    min-height:40px ;
    font-size: 16px;
}
.advertisement {
    background-color: transparent !important;
    border: none;
    color: var(--ad-text-color);
    padding-top : 0px;
    padding-bottom : 0px;
    font-style: italic;
}
.advertisement img {
    width : 15px;
}

/* redoc */

#redoc-div {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
}

#redoc-div .menu-content {
    background-color: transparent;
}
#redoc-div .djJpRG, #redoc-div .fAUnug {
    color: var(--main-text-color);
}
#redoc-div .hvnOJY, #redoc-div .ixfdRO {
    color: var(--secondary-text-color);
}
#redoc-div .gLzrjW {
    color: var(--api-parameter-color);
}
#redoc-div .gackFU {
    background-color: var(--api-code-bg-color);
}

/* proposals */

.voting-progress {
    height: 30px;
    margin-bottom: 60px;
}
.voting-progress span, .voting-level {
    font-size: 25px;
    line-height: 30px;
}
.navigation-container {
    position: relative;
}
.navigation-inner {
    position: relative;
    width: 90%;
    overflow: hidden;
    margin-left: 5%;
}
.carousel-control {
    background-image: unset !important;
    width: 5%;
}
.navigation-container a:hover {
    color: var(--nav-hover-color);
}
#proposal-progress-title-1 {
    text-align: right;
}
#proposal-progress-title-2 {
    text-align: left;
}





/* amendment timeline css */

.section-header, .steps-header, .steps-name {
  font-weight: 400;
  font-size: 1.4em;
}
.steps-header {
  margin-bottom: 20px;
  text-align: center;
}
.steps-timeline {
  outline: 1px dashed rgba(255, 0, 0, 0);
}

.steps-timeline:after {
  content: "";
  display: table;
  clear: both;
}
.steps-one, .steps-two, .steps-three, .steps-four {
  outline: 1px dashed rgba(0, 128, 0, 0);
}



.steps-img, .steps-circle {
  display: block;
  margin: auto;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.steps-name, .steps-description {
  margin: 0;
}
.steps-description {
    overflow: hidden;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    height: auto;
    width: 70%;
}

@media (max-width: 500px) {
  .steps-timeline {
    border-left: 2px solid #12225E;
    margin-left: 25px;
  }
  .steps-one, .steps-two, .steps-three, .steps-four {
    margin-left: -25px;
  }
  .steps-one, .steps-two {
    padding-bottom: 40px;
  }
  .steps-three {
    margin-bottom: 40px;
  }
  .steps-four {
    margin-bottom: 40px;
  }
  .steps-img, steps-circle {
    float: left;
    margin-right: 20px;
  }
}

@media  (min-width: 500px) {
  .steps-timeline {
    border-top: 2px solid #12225E;
    padding-top: 20px;
    margin-top: 40px;
    margin-left: 12.65%;
    margin-right: 12.65%;
  }
  .steps-one, .steps-two, .steps-three, .steps-four {
    float: left;
    width: 33%;
    margin-top: -50px;
  }
  .steps-one {
    margin-left: -15.65%;
    margin-right: 0.65%;
  }
  .steps-three {
    margin-left: 0;
    margin-right: -16.65%;
  }
  .steps-four {
    margin-left: 15.65%;
    margin-right: -16.65%;
  }
  .steps-name {
    text-align: center;
  }
  .steps-description {
      text-align: left;
      font-size: 13px;
      background-color: var(--vote-timeline-desc);
      border-radius: 20px;
      padding: 10px;
      margin-top: 10px;
      height: auto;
      width: 90%;
  }
}

.description-progress {
    background-color: var(--vote-timeline-progress);
}

.description-passed {
    background-color: var(--vote-timeline-passed);
}

.description-wait {
    background-color: var(--vote-timeline-wait);
}

.description-ignored {
    background-color: var(--vote-timeline-ignored);
}

.period-vote-progress {
    font-weight: 300;
}

.period-vote-passed {
    font-weight: 300;
}

.period-vote-wait {
    font-weight: 300;
}

.period-vote-ignored {
    font-weight: 300;
}

.period-current {
    font-weight: bold;
}

.steps-title-italic {
    font-style: italic ;
}

.steps-legend {
    width: 100%;
    margin-top: 10px ;
}

.steps-legend img {
    width: 25px;
    margin-right: 5px;
}

/* xxxxxxxxx */
.home-panel {
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2), 0 3px 20px 0 rgba(0, 0, 0, 0.19);
    border-color: transparent;
    height: 90px;
}

.home-panel > .panel-heading {
    padding: 8px 0px 0px 15px;
}

#search-form {
    /* margin-left: 200px; */
}

#search-bar {
    /* width: 80%; */
}

#home-last-baker {
    padding-top: 15px;
    font-size: 15px;
    text-align: left;
}

#home-last-baker-logo img {
    height: 50px ;
    padding-top : 10px;
}

#home-last-baker-logo canvas {
    height: 50px ;
    padding-top : 10px;
}

#home-last-baker-website {
    padding-top : 3%;
    font-size: 20px;
    padding-left: 0;
}

.home-sponsored {
    background: linear-gradient(var(--home-sponsored-background1), var(--home-sponsored-background2) 60%, var(--home-sponsored-background3));
}

.home-sponsored > .panel-heading {
    background-color: inherit !important;
}

.home-sponsored-case img {
    padding : 6px;
}

.home-sponsored img {
    height: 50px;
}

/* .home-sponsored-descr { */
/*     padding-left: 9%; */
/* } */

#button-bookmark {
    width: 50px;
    color: black;
}

#button-bookmark > span {
    font-size: 20px;
    color: #d8d84f;
}

.page-size .btn:hover, #menu .btn:hover {
    margin-top : 0px !important ;
    border-bottom-width : 0px !important ;
}

.btn.download-button-csv:hover {
    margin-top : 0px !important ;
    border-bottom-width : 2px !important ;
}

/* Bootstrap theme main color */
table .danger a:not(.btn) {
    color: var(--td-disable-a-color) !important ;
}

table .warning a:not(.btn) {
    color: var(--td-warning-a-color) !important ;
}

#Blocks-size-selector {
    background-image: var(--blocks-size-selector-bg);
}

.dn1-qrcode {
    text-align: center
}

.dn1-qrcode > div {
    text-align: center;
    display: inline-block;
}

.account-copy-icons {
    font-size: 17px;
}

.bk-home-ts {
    white-space:nowrap ;
}

.sub-sm-fan {
    font-size: 11px ;
    white-space: nowrap;
}

.period-fan .ldBar-label {
    font-size: smaller
}

.period-fan .ldBar {
    margin: auto ;
}

.period-sum-prop-number {
    font-size : 28px ;
}

.constants-subtitle {
    text-align: left;
    margin-bottom: 20px;
}

#constants-level-input {
    margin: 0 10px;
}
